<% layout('layout') -%>

<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" id="navbar-gap">
		<div class="container">
			<h1>Shop Smart, Eat healthy</h1>
			<p>Starting point to create something more unique!</p>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up &raquo;</a></p>
		</div>
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>Start your search here.</h2>
				<p>Sign up to start to buying</p> 
			</div>

			<div class="col-md-4">
				<h2>Look for smart products!!</h2>
				<p>These will appear accross site,as you  add it to your cart!</p>
			</div>

			<div class="col-md-4">
				<h2>Build a smart cart</h2>
				<p>The more you buy, the more you save!!</p>
			</div>
		</div>
